

body{
    background-color: rgb(32, 31, 31);
    font-family: 'segeo ui light';
}
.heading{
    color: #fff;
    text-align: center;
    margin: 20px 0 0 50px;
    cursor: pointer;
}
.heading:hover{
    color: greenyellow;
}
label{
    color: #fff;
    font-size: 25px;
}

.myBtn span{
    font-size: 25px;
}
.myBtn:hover {
    background-color: rgb(95, 200, 95) !important;
}
.table{
    color: #fff;
    text-align: center;
    
}

.colors{
    background-color: rgb(201, 235, 8) !important;
}
.color{
    background-color: rgb(15, 185, 236) !important;

}

#inputSearch{
    margin: 30px auto;
}
.alert{
    margin: 20px auto;
    font-weight: bolder;
    font-size: 30px;
}











